*{box-sizing:border-box}

body{
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Inter,Arial,sans-serif;
  background:#0b0b0b;
  color:#eaeaea;
  overflow:hidden; /* penting untuk slide */
}

/* SLIDER */
.slider{
  display:flex;
  overflow-x:auto;
  scroll-snap-type:x mandatory;
  height:100vh;
}

/* SLIDE */
.slide{
  min-width:100vw;
  height:100vh;
  padding:20px;
  scroll-snap-align:start;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.slide img{
  max-width:100%;
  height:auto;
  border-radius:16px;
  margin-bottom:16px;
}

/* TEXT */
h1{font-size:24px;margin-bottom:6px}
h2{font-size:20px;margin-bottom:10px}

p{
  font-size:14px;
  color:#bdbdbd;
  max-width:320px;
}

ul{
  list-style:none;
  padding:0;
  margin-top:12px;
}

li{
  background:#121212;
  border:1px solid #1f1f1f;
  border-radius:12px;
  padding:10px;
  margin-bottom:8px;
  font-size:13px;
}

small{
  font-size:12px;
  color:#777;
}
